<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bid.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @bid.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @bid.end_date %>
</p>

<p>
  <strong>Company:</strong>
  <%= @bid.company_id %>
</p>

<%= link_to 'Edit', edit_bid_path(@bid) %> |
<%= link_to 'Back', bids_path %>
