<% content_for :title do %>
  Log in
<% end %> 
<h2>Log in</h2>
<div class="login-box">
  <div class="card">
    <div class = "card-body login-card-body">
      <p class="login-box-msg">Sign in to start your session</p>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="input-group mb-3">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control" %>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "form-control"%>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <% if devise_mapping.rememberable? %>
            <div class="col-8">
              <div class="icheck-primary">
                <%= f.check_box :remember_me, class: "remember" %>
                <label for="remember">
                  Remember Me
                </label>
              </div>
            </div>
            <!-- /.col -->
          <% end %>
          <div class="col-4">
            <%= f.submit "Log in", data: {turbo: false}, class: "btn btn-primary btn-block" %>
          </div>
          <!-- /.col -->
        </div>
      <% end %>
      <p class="mb-0">
        <%= link_to "Back", root_path%>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
</div>
<%= render "devise/shared/links" %>
